@import "tailwindcss";
@layer theme, base, components, utilities;
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html, body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  padding: 0;
  margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.ios-scroll {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

